.main_content{
	filter: alpha(opacity=60);
	-moz-opacity:0.6;
	-khtml-opacity: 0.6;

	height:500px;
	width:700px;
	border-radius: 20px;
}
.box{
	position:absolute;
	top:0;right:0;bottom:0;left:0;
	display:flex;
	align-items:center;
	justify-content:center;

	display:-webkit-flex;
	-webkit-align-item;center;
	-webkit-justify-content:center;
}